block variables

doctype html

html(lang='ru-RU')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= pageTitle
    description= pageDescription
    keywords= pageKeywords
    link(rel='stylesheet' type='text/css' href='main.min.css')

  body
    main
      block content      
    script(src='main.min.js')
    script.
      $(function(){
        $('p').hyphenate();
      });