@import '@/styles/local.scss';


.button {
  color: #fff;
  display: block;
  padding-bottom: 20px;
  pointer-events: none;
  position: relative;
  text-align: left;
  @extend %regular_font_style;

  @media (max-width: 1280px) {
    padding: 20px 0;
    pointer-events: visible;
    width: 100%;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='20px' height='10px' viewBox='0 0 20 10'%3E%3Cpolygon points='1.415,1.415 8.586,8.586 10,10 11.414,8.586 18.585,1.415 17.171,0 10,7.172 2.829,0 '/%3E%3C/svg%3E");
      content: '';
      float: right;
      height: 10px;
      margin-top: 8px;
      width: 20px;
    }
  }
}