@import '@/styles/local.scss';


.pre_title {
  color: $text_color;
  margin-bottom: 2px;
  @extend %smaller_font_style;
}

.title { color: $title_color; }

.list {
  @extend %regular_font_style;

  &__item {
    color: $text_color;
    padding-left: 24px;
    position: relative;
  }

  &__item::before {
    background-color: $decorative_el_color;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: 11px;
    width: 8px;
  }

  &__item:not(:last-child) {
    padding-bottom: 12px;
  }
}