div#company
  div.container
    div.company__top-block
      h3 #[span 14 лет] суды выносят решения по нашим экспертизам
      p ЭКЦ «Вектор» проводит досудебные исследования и судебные экспертизы с 2006 года, тем самым являясь одной из старейших экспертных организаций в России.    
    section.company__middle-block.flex-row
      div.flex-column
        span.subheader.white Эксперты
        p.paragraph Наши сотрудники прошли обучение и (или) имеют опыт работы в государ&shy;ственных экспертных учреждениях – МВД и РФЦСЭ. Почему это важно?    
      div.flex-column
        span.subheader.white Опыт
        p.paragraph С вашим случаем мы наверняка уже сталкивались и знаем, как нужно рабо&shy;тать. Как при подготовке заключения, так и при его защите в суде.      
      div.flex-column
        span.subheader.white Инструменты
        p.paragraph Располагаем всей необходимой мате&shy;риальной и технической базой для производства экспертиз любой сложности в сжатые сроки.  
    div.company__bottom-block.flex-row(uk-lightbox)
      div
        p.
          Не удивительно, что проведение экспертиз нам поручают не только #[a(href='#' class='link') суды], но и #[a(href='#' class='link') МВД] #[br]
          Имеем опыт работы с бюджетными учреждениями, участвуем в гос. закупках.     
      div.flex-row
        div
          object(data='../img/icons/invoice.svg')        
        div
          p.
            #[a(href='#' class='link') Письмо в суд] с документами #[br]
            и реквизитами ЭКЦ «Вектор»
        
      
    
  
