div#expertise
  div.container
    div.width-1-2
      h2 Об экспертизе почерка
      p.paragraph Мы попытались объяснить простыми словами, что это такое и за одно ответить на самые популярные вопросы.    
    div.tabs.flex-row
      div.tabs-nav
        a.tabs-link.tabs-link-active(href='#content-1') Что такое экспертиза почерка
        a.tabs-link(href='#content-2') Решаемые вопросы
        a.tabs-link(href='#content-3') Выводы и их форма
        a.tabs-link(href='#content-4') Порядок проведения
        a.tabs-link(href='#content-5') Досудебный и судебный порядки
      article.tabs-content
        div#content-1.tabs-pane.tabs-pane-show
          p.
            #[span.paragraph Экспертиза почерка представляет собой сравнение почеркового объекта с образцами, не вызывающих сомнений в их подлинности. Почерковый объект – это либо оспариваемая подпись, либо оспариваемый рукописный текст. #[br]]
            #[span.paragraph] Целью сравнения является поиск и сопоставление друг с другом так называемых общих и частных признаков почерка – другими словами, особенностей почерка, присущих конкретному человеку. #[br]
            Как правило, сравнивается либо подпись с подписью, либо рукописный текст с рукописным текстом. Сравнение проводится согласно утвержденным методикам. Мы в своей работе чаще всего используем методику МВД.      
        div#content-2.tabs-pane
            p.paragraph Экспертиза почерка позволяет ответить на 3 основных типа вопросов: <br class="paragraph">
            p.paragraph 1. Тем или иным лицом выполнен почерковый объект? <br class="paragraph">
            p.paragraph 2. Одним или разными лицами выполнен почерковый объект? <br class="paragraph">
            p.paragraph 3. В каком состоянии находился человек, выполнивший почерковый объект? <br class="paragraph">
            p.paragraph Обращаем внимание, что вопрос о давности выполнения почеркового объекта решается в рамках технико-криминалистической экспертизы документов. Более подробно с решаемыми вопросами можно познакомиться в разделе «Цены».        
        div#content-3.tabs-pane
          p.
            В результате исследования по представленным выше вопросам и в зависимости от полноты исходных данных, эксперт дает либо категоричный (например, точно он), либо вероятный (например, возможно он) выводы.
            Формирование выводов в «%» (например, с вероятностью в 75% он) ни одной из существующих методик не предусмотрено и нами не практикуется.
            В отдельных случаях (например, недостаточно исходных данных) эксперт вынужден дать вывод «ответить на поставленный вопрос не представляется возможным по такой-то причине», что тоже иногда может быть полезно.       
        div#content-4.tabs-pane
          p.
            1. Вы присылаете нам спорные почерковые объекты и образцы для сравнения либо на электронную почту mail@ekc-vector.ru, либо воспользовавшись формой обратной связи. Конфидециально, соглашение о неразглашении. Возможна встреча с экспертом в офисе.
            2. Эксперт знакомится с предоставленными материалами и связывается с Вами для уточнения деталей, сроков и стоимости работы.
            3. Далее Вы оплачиваете работу любым удобным для вас способом: наличными в офисе, картой on-line или со счёта на счёт. Официальные закрывающие документы при любом способе оплаты, почему это важно?
            4. По готовности, забираете заключение и все сопутствующие документы из нашего офиса. При исследовании от 4-х почерковых объектов, возможна доставка за наш счёт.       
        div#content-5.tabs-pane
          p.
            Экспертиза является судебной только тогда, когда определение о её назначении вынесено уполномоченным лицом. Например, в арбитражном и гражданском процессах это – судья. Экспертиза может быть назначена как по ходатайству одной из сторон по делу, так так и по желанию судьи.
            Соответственно, если экспертиза назначается вами, то она является досудебной. Как правило, одних ваших слов о подложности, например, подписи будет недостаточно, чтобы убедить в этом судью. А вот заключение специалиста – уже достаточно весомый аргумент.
        
      
    
  
