div#expert
  div.container.flex-row
    div.width-1-2
      div.expert__top-block
        h4 Эксперт с опытом работы #[br] в #[span ЭКЦ МВД]   
        p #[span.subheader.black Александр Загика,] #[br] руководитель отдела криминалистических экспертиз:     
      div.expert__middle-block
        blockquote «Наличие высшего профильного образования в области судеб&shy;ной экспертизы, а также многолетний стаж работы в подразде&shy;лениях МВД позволили мне не только на практике закрепить полученные знания, но и приумножить их каждодневно решая различные криминалистические задачи. За время работы в МВД, мною проведено более тысячи экспертиз и исследова&shy;ний. Неоднократно поощрялся руководством МВД»      
      div.expert__bottom-block
        span.subheader.black Образование эксперта:
        ul
          li Высшее юридическое образование МосУМВД РФ #[br] по специальности «Судебная экспертиза»
          li Второе высшее юридическое образование МЮИ #[br] по специальности «Юрист»
          li Cвидетельство о праве на самостоятельное производство #[br] почерковедческой экспертизы и ТКЭД
          li С 2011 по 2017 г. – эксперт-криминалист МВД в ЭКЦ УВД по ЦАО
    div.width-1-2
      img(src='../src/img/zagika.jpg')
    
