$title_color: #000;
$text_color: #242629;
$text_border_color: #2426291f;
$muted_text_color: #737476;

$decorative_el_color: #A7A8A9;
$el_border_color: #d3d4d4;

$dark_gray_bg: #dfdfdf;
$light_gray_bg: #f2f4f6;
$input_bg: #f4f6fb;
