.line_break {
  @media (max-width: 1280px) {
    display: none;
  }
}

.paragraph {
  @extend %regular_font_style;

  &:not(:last-child) {
    padding-bottom: 12px;
  }
}

.pseudo_title {
  display: block;
  @extend %h2_h6_font_style;
}

.subtitle {
  @extend %subtitle_font_style;
}

.visually_hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.width_1_2 {
  width: calc(100%/2);
}

.width_1_3 {
  width: calc(100%/3);
}

.width_1_4 {
  width: calc(100%/4);
}

.width_1_2,
.width_1_3,
.width_1_4 {
  @media (max-width: 1280px) {
    min-width: calc(100vw - 36px);
  }
}

.totally_hidden {
  display: none;
}