extends ../layout/base

block variables
  - var pageTitle = 'Экспертиза почерка – ЭКЦ «Вектор»'
  - var pageDescription = ''
  - var pageKeywords = ''

block content
  include ../modules/header
  include ../modules/expertise
  include ../modules/company
  include ../modules/expert
  include ../modules/prices