@import '@/styles/local.scss';


.menu {
  display: flex;
  writing-mode: vertical-lr;

  &__item:not(:last-child)::after {
    background-image: url(../public/img/icons/triangle.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    content: '';
    padding: 24px 0;
  }

  &__link {
    color: $muted_text_color;
    @extend %smaller_font_size;
  }
}

.active {
  border-left: 2px solid $text_border_color;
  color: $text_color;
  padding-left: 2px;
}
